* {
  padding: 0;
  margin: 0 auto;
}

nav {
  background-color: #f2c744;
}

footer {
  background-color: #f2c744;
}

* body {
  font-family: "Roboto", sans-serif;
}

a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

a:link {
  text-decoration: none;
}

a:visited {
  color: #00010d;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: #f2c744;
}

.nombre_empresa {
  color: #00010d;
  text-align: center;
  font-size: 40px;
}

#piedepagina {
  background-color: #f2c744;
}

.productosIndex {
  transition: all 0.3s;
}

.productosIndex:hover {
  transform: scale(1.15);
}

ul {
  list-style-type: none;
}

/*CSS PARA PAGINAS NO RESPONSIVE*/

#piedepagina {
  color: #00010d;
  background-color: #f2c744;
  text-align: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.centrar {
  text-align: center;
}

#lista1 li {
  display: inline;
  font-size: 200%;
  margin-bottom: 100px;
}

button {
  border: none;
  border-radius: 3px;
  background-color: white;
}

.paresFilaUno {
  position: absolute;
  top: 150px;
}

.paresFilaDos {
  position: absolute;
  top: 430px;
}

.columnaDos {
  left: 550px;
}

.columnaTres {
  right: 0px;
}
